Options -Indexes 
ErrorDocument 404 /404.php

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !/local/vendor/techart/bitrix.tao/urlrewrite.php$
  RewriteCond %{REQUEST_URI} !/bitrix/backup/*
  RewriteRule	!\.(js|ico|gif|jpg|jpeg|JPG|png|svg|css|chm|doc|xls|zip|rar|pdf|txt|avi|ttf|woff|eot|woff2|xml)$ /local/vendor/techart/bitrix.tao/urlrewrite.php
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 3 day"
  ExpiresByType image/gif "access plus 3 day"
  ExpiresByType image/png "access plus 3 day"
  ExpiresByType text/css "access plus 3 day"
  ExpiresByType application/javascript "access plus 3 day"  
</IfModule>
