@import "~style";

$block-name: "b-select";

.#{$block-name} {
	padding: 1.5rem;
	font-size: 1.4rem;
	background-color: #fff;
	border: 2px solid $color-purple;
	border-radius: 25px;
	margin-bottom: 1.5rem;
	width: 100%;

	&:focus-visible {
		border: 2px solid $color-purple;
	}
}
