.bx_sitemap_li_title a {
	font-family: 'Open sans';
	font-size: 1rem;
	color: #9B407A;

	border: 1px solid #9B407A;
	border-radius: 25px;
	padding: 1rem;
	width: fit-content;
}

.bx_sitemap_li_title a:hover {
	color: #fff;
	background-color: #9B407A;
	transition: 0.3s;
}

.section_title {
	font-size: 2rem;
	color: #9B407A;
}