.bx-basket-block {
	font-family: 'Open sans';

	margin-left: 1rem;
}

.bx-basket-block a {
	margin-right: 10px;
	font-size: 1rem;
	color: #000;
}

.bx-basket-block a:hover {
	color: #9B407A;
	transition: 0.3s;
}