
body {
    margin: 0 auto;
}

li {
    list-style-type: none;
}

/* container */
@media (max-width: 540px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 551px) and (max-width: 750px) {
    .container {
        width: 90%;
        margin-left: 5%;
    }
}

@media (min-width: 751px) and (max-width: 1151px) {
    .container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1152px) {
    .container {
        width: 90%;
        margin-left: 8%;
    }
}

@media (min-width: 1718px) {
    .container {
        width: 100rem;
        margin-left: auto;
        margin-right: auto;
    }
}

/* header */

.header_container {
    align-items: center;

    margin-top: 1rem;
    text-align: left;

    display: flex;
}

.logo {
    position: inherit;
    margin-left: 1rem;
}

.header_title {
    color: #2C145E;

    font-family: 'Open Sans';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 132%;
    letter-spacing: 3.5px;
    text-transform: uppercase;

    white-space:inherit;

    margin-left: 1rem;
}

/* top_menu */

.header_links {
    width: 75%;
    display: flex;

    justify-content: flex-end;
    transition: all 2s ease;

    position: relative;
    /* display: inline-block; */
}

.header_link {
    color: black;
    line-height: 132%;
    font-family: 'Open Sans';
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    transition: 0.3s;

    margin-left: 2rem;
}

.header_link-drop {
    display: none;
    position: absolute;
}

.header_link-submenu {
    color: black;
    font-size: 1rem;
}

.header_link-selected {
    color: #9B407A;
}

.header_link:hover {
    color: #9B407A;
}

.header_link:hover .header_link-drop {
    display: block;
}

.header_link-block:hover .header_link-drop {
    display: block;
}

.header_link-block:hover {
    display: block;
}




.navbar {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

/*   
.navbar a {
    line-height: 132%;
    font-family: 'Open Sans';
    font-weight: 400;
    text-decoration: none;
    transition: 0.3s;

    float: left;
    text-align: center;
    padding: 14px 16px;
} */
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.dropdown-content {
    margin-top: 4rem;
    margin-left: 3rem;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    color: #9B407A;
}

.user_block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.user_login {
    font-size: 1.3rem;
    margin-right: 0.5rem;
}

.line {
    width: 100%;
    border-top: 0.5px solid #6C6E7B;
}

/* work_news */

.work_news {
    text-align: left;
    position: relative;
}

.breadcrumb {
    font-family: Open Sans;
    display: flex;

    margin-top: 4rem;
}

.breadcrumb_link {
    text-decoration: none;
    color: black;
}

.breadcrumb_title {
    color: #6C6E7B;

    margin-left: 0.5rem;
}

.content_title {
    font-family: Open Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;

    text-align: left;
}

.work_news-content {
    display: flex;
    justify-content: flex-start;
}

.work_news-content-text {
    width: 50%;
}

.work_news-content-image {
    margin-top: 5rem;
    margin-left: 2rem;
}

.work_news-content-image-mobile {
    display: flex;
    justify-content: space-evenly;
}

.work_news-content-image-mobile[hidden] {
    display: none;
}


.work_news-content-title p {
    color: #841844;

    font-family: Open Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-bottom: 3rem;
}

.work_news-content-news-text {
    color: black;

    /* text */
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

    margin-bottom: 5rem;
}

.work_news-content-button-block {
    width: 100%;
}

.work-news_categories-link {
    font-size: 1.2rem;
    color: black;
    transition: 0.3s;
}

.work-news_categories-link:hover {
    color: #841844;
}

/* all news */

.all_news-banner {
    color: #fff;
    font-family: Open Sans;
    font-style: normal;

    text-align: left;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 551px) and (max-width: 750px) {
    .all_news-banner {
        height: 20rem;
    }
}

@media (min-width: 751px) {
    .all_news-banner {
        height: 30rem;
    }
}

.all_news-banner-link {
    text-decoration: none;
}

.banner-container {
    width: 80%;
}

.all_news-banner-title {
    text-align: left;
    margin-bottom: 2rem;
    font-size: 3rem;
}

@media (max-width: 540px) {
    .all_news-banner-title {
        font-size: 7vw;
    }
}

.all_news-banner-announce p {
    text-align: left;
    font-size: 1.1rem;
}

.all_news-title {
    margin: 2rem;
}

@media (max-width: 540px) {
    .all_news-title {
        margin-bottom: auto;
    }
}

.newsDate {
    border-radius: 20px;
    background-color: #ECF2F5;
    padding: 6px 18px;
    text-align: center;
    font-family: 'Open Sans';
    width: fit-content;
    max-width: 5rem;
}

.main_button {
    font-family: 'Open Sans';
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

    text-decoration: none;

    border-radius: 50px;
    border: 2px solid #9B407A;
    color: #9B407A;
    background-color: #fff;

    width: fit-content;
    padding: 1rem 1.4rem;

    display: flex;
    align-content: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    &:hover {
        color: #fff;
        background-color: #841844;
    }
}

.all_news-list {
    display: flex;
    flex-wrap: wrap;
}

.news-card {
    flex: 1 1 32rem;
    margin: 2rem;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
}

.news-card_link {
    text-decoration: none;
    text-align: left;
    color: #000;
}

.news-card_link:hover {
    .news-card_title {
        color: #841844;
    }

    .main_button {
        background-color: #841844;
        color: #fff;
    }

    .button_icon {
        fill: #fff;
    }
}

.news-card_title {
    font-family: Open Sans;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-top: 2rem;
}

p {
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 2rem;
}

.button_icon {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.1rem;
}

.button_icon:hover {
    fill: #fff;
}

.button_text {
    max-width: 60%;
    white-space: nowrap;
}

/* component_pager */
.pager {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pager_button {
    margin-right: 1rem;
    font-size: 1rem;
}

@media (min-width: 1151px) {
    .pager {
        justify-content: end;
    }
}

@media (min-width: 551px) and (max-width: 750px) {
    .pager {
        justify-content: end;
    }
}

@media (min-width: 751px) and (max-width: 1151px) {
    .pager {
        justify-content: end;
    }
}

@media (max-width: 540px) {
    .pager {
        margin-top: 1rem;
        justify-content: center;
    }

    .pager_button {
        font-size: 13px;
    }

    .button_icon {
        width: 13;
        height: 8;
    }

    .main_button {
        padding: 10px 16px;
    }
}

@media (max-width: 360px) {
    .pager_button {
        padding: 2vw 3vw;
        margin: 5px;
    }
}

.button_selected {
    background-color: #841844;
    color: #fff;
    margin-right: 1rem;
}

@media (max-width: 360px) {
    .button_selected {
        margin-right: 0rem;
    }
}

/* footer */

.footer_container {
    align-items: center;

    margin-top: 5rem;
    text-align: left;

    display: flex;
    flex-wrap: wrap;
}

.footer_title {
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 

    margin-top: 3rem;
    margin-bottom: 3rem;
}

@media (min-width: 1600px) {
    .work_news-content-text {
        width: 60%;
    }
}

@media (min-width: 1152px) {
    .header_title {
        font-size: 1rem;
    }

    .logo img {
        width: 4rem ;
    }

    .header_link {
        font-size: 1.2rem;
    }

    .header_link-dropdown-icon {
        width: 1rem;
    }

    .user_login {
        font-size: 1.2rem;
        margin-left: 1rem;
    }

    .logout_button {
        padding: 0.5rem 1rem;
    }

    .dropdown-content {
        margin-top: 0.1rem;
    }

    .work_news-content {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .work_news-content-text {
        width: 50%;
    }

    .work_news-content-image {
        max-width: 30rem;
    }

    .button_icon {
        width: 2rem;
    }
}

@media (max-width: 1151px) {
    .work_news-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .work_news-content-text {
        width: 100%;
    }

    .work_news-content-image {
        display: none;
    }

    .work_news-content-image-mobile[hidden] {
        display: block;
        width: 70%;
    }
}

@media (min-width: 551px) and (max-width: 1150px) {

    .work_news-content-image {
        max-width: 15rem;
    }

    .work_news-content-image-mobile {
        display: flex;
        justify-content: space-evenly;
    }

    .work_news-content-image-mobile[hidden] {
        width: 50%;
    }

    .button_icon {
        width: 2rem;
    }
}

@media (max-width: 550px) {
    .header_title {
        font-size: 4vw;
    }

    .logo img {
        width: 19vw;
    }

    .news-card_title {
        font-size: 1.4rem;
    }
    .work_news-content-title p {
        font-size: 5vw;
        margin-left: 1rem;
    }

    .work_news-content-news-text {
        margin-bottom: 0;
    }

    .work_news-content-news-text p {
        font-size: 4vw;
        margin-left: 1rem;
    }

    .breadcrumb {
        font-size: 3vw;
        margin-left: 5vw;
    }

    .content_title {
        font-size: 6vw;
        margin-left: 5vw;
    }

    .work_news-content-text .newsDate {
        margin-left: 5vw;
    }

    .work_news-content-button-block .main_button {
        margin-left: 3vw;
    }

    .main_button {
        font-size: 3vw;
    }

    .button_icon {
        width: 6vw;
    }

    .footer_title {
        margin-left: 1rem;
        font-size: 3vw;
    }

    .newsDate {
        font-size: 3vw;
        padding: 6px 12px;
    }
}