@import "~style";

$block-name: "b-news-banner";

.#{$block-name} {
	display: flex;
	flex-direction: row;

	&__link {
		text-decoration: none;
	}

	&__text-block {
		color: #fff;
		font-family: $body-font-family;
		font-style: normal;
		text-align: left;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 30rem;
	}

	&__title {
		text-align: left;
		margin-bottom: 2rem;
		font-size: 3rem;
	}

	&__announce {
		text-align: left;
		font-size: 1.1rem;
	}

	&__container {
		width: 80%;
	}

	.swiper-button-next,
	.swiper-button-prev {
		color: $color-white;
		position: absolute;
		top: var(--swiper-navigation-top-offset, 50%);
		width: calc(var(--swiper-navigation-size)/ 44 * 27);
		height: var(--swiper-navigation-size);
		margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
		z-index: 10;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.swiper-button-next {
		right: auto;
		left: 96%;
	}

	.swiper-button-prev {
		left: 1.5%;
	}

	&__slider-icon {
		width: 3rem;
		transition: 0.3s;

		&:hover {
			color: $color-purple;
		}
	}
}
